.App {
  font-family: sans-serif;
}

.form-select {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.select-c {
  position: relative;
}

.select-c span {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.select-title {
  width: 250px;
  border: 1px solid;
  padding: 10px;
  cursor: pointer;
  caret-color: transparent;
  background: white;
  color: black;
  font-size: 18px;
}

.select-title:focus {
  outline: none;
  box-shadow: 0 0 0 1px #000000;
}

.options-container {
  margin-top: 8px;
  border: 1px solid;
  border-bottom: 0px;
  overflow: hidden;
  position: absolute;
  top: 48px;
  z-index: 5;
}

.option {
  border-bottom: 1px solid;
  width: 250px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

.option:hover {
  background: rgb(233, 233, 233);
}

.selected {
  background: rgb(0, 0, 0);
  color: white;
}

.selected:hover {
  background: rgb(0, 0, 0);
  color: white;
}

.submit {
  padding: 10px 30px;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  border-color: transparent;
  background: black;
  color: white;
  font-size: 16px;
  margin-top: 16px;
  border: 1px solid;
  transition: 0.3s;
}

.submit:hover {
  color: black;
  background: white;
}
